In [ ]:
# list set tuple dict

# basic syntax, data structure, function, OOP and advance concepts
if 5 != 5 and 5==5:
  print(True)
elif 5>=5:
  print(False)
else:
  print(False)

# range(start,end,step)
for i in range(1,10,2):
  print(i)

for i in range(10,-1,-1):
  print(i)

i = 0
while i<5:
  print(i)
  i+=1

name = []
num = int(input("Enter number of student:"))
for i in range(num):
  name[i] = i+1

In [ ]:
num = []
for i in range(10):
  if i%2 == 0:
    num.append(i)

print(num)

[0, 2, 4, 6, 8]

In [ ]:
num = [i for i in range(10) if i%2 == 0]
print("The list is:",num)

The list is: [0, 2, 4, 6, 8]

In [ ]:
student = {
    'name':['student 1','student 2'],
    'id': ['2021-1-60-001','2021-1-60-002']
}

student['marks'] = [56,55]

In [ ]:
student

{'name': ['student 1', 'student 2'],
 'id': ['2021-1-60-001', '2021-1-60-002'],
 'marks': [56, 55]}

In [ ]:
for key, value in student.items():
  print(key," and value", value)

name  and value ['student 1', 'student 2']
id  and value ['2021-1-60-001', '2021-1-60-002']
marks  and value [56, 55]

In [ ]:
# function
def input_number(a=5,b=6):
  return a+b

print(input_number(9))

15

In [ ]:
student={
    'name': ['std1','std2'],
    'id':['2022-1-60-001','2022-1-60-002']
}

In [ ]:
student = {}
def add_items():

  name = []
  id = []
  num = int(input("Enter number of students:"))
  for i in range(num):
    name.append(input(f"Enter student {i+1} name:"))
    id.append(input(f"Enter student {i+1} id:"))
    # end of for loop num
  #print(name)
  #print(id)
  student['name'] = name
  student['id'] = id

  return student
  # end of add_item function


std = add_items()

Enter number of students:1
Enter student 1 name:std1
Enter student 1 id:2021-1-60-001
{'name': ['std1'], 'id': ['2021-1-60-001']}